<div class="text-center">
  <div class="question">
    <h4>{{question}}</h4>
  </div>

  {{#each choices}}
  <button class="btn btn-primary" value={{this}}>{{this}}</button>
  {{/each}}

</div>

<script>
  var user = JSON.parse('{{{json user}}}')
  console.log('varuserjson', user)
  var answer = JSON.parse('{{{json answer}}}');
  var youtubeLink = JSON.parse('{{{json youtubeLink}}}');
  console.log(answer)
  $('button').click((e) => {
    console.log(e.target.value)
    if (e.target.value === answer) {
      window.location.href = `/question/${Number(location.href.replace(/.*\//, '')) + 1}`
    } else {
      let video = `<iframe src="${youtubeLink}"  width="560" height="315"  frameborder="0" allowfullscreen></iframe>`
      // let video = `<iframe width="560" height="315" src="${youtubeLink}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
      $('body').append(video)
      if (youtubeLink !== "https://www.youtube.com/embed/1zBwKbq02ds?autoplay=1") {
        function getUser(callback) {
          $.ajax({
            type: "GET",
            url: "/account/5caba693f71b2a4a988442a2",
            success: callback,
            dataType: "json",
            contentType: "application/json"
          });
        }
        //getUser(patchUser);

        console.log(user.points)
        user.points -= 1;
        console.log(user.points)
        $.ajax({
          type: "PATCH",
          url: `/account/${user._id}`,
          data: JSON.stringify({ points: user.points }),
          dataType: "json",
          contentType: "application/json"
        });

      }
    }
  })
</script>